<%= erb :nav %>
<section class="intro-section">
  <div class="container">
<h1>Edit Book</h1>

<form action="/books/<%= @book.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <input type="text" class="form-control" name="title" value="<%= @book.title %>">
  <input type="text" class="form-control" name="authors" value="<%= @book.authors %>">
  <input type="text" class="form-control" name="publisher" value="<%= @book.publisher %>">
  <input type="text" class="form-control" name="year" value="<%= @book.year %>">

  <input type="submit" class="btn btn-primary" value="submit" id="submit">
</form>
</div>
</section>
